*~
*.pyc
.vscode
/Templates/.DS_Store,
/static/ck.pem
/users/models.pyc
/users/*.pyc
.idea/*
*.xml
*.DS_Store
/build
/media/
.vscode
.vscode/*
/static/node_modules/
/node_modules/
/static/webpack-stats.json
/static/package-lock.json
/static/assets/*
/users/models.pyc
/users/*.pyc
/node_modules/
.idea/*
*.xml
/node_modules/
/build
/node_modules/
/media
/.vscode
req.txt
npm-debug.log
*.zip
*.out
venv/*
hl7_node_server/node_modules
static/components/4.0/common_variables.js
node_modules
static/extentions/*/.idea/*
liveenv/*
automated_booking/settings.py